.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
}
.Navbox{
    width: 100%;
    height: auto;
    border-bottom: 1 px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 25px;

}
.navbox .leftside{
    width: 40px;
    height: 80px;

}
.navbox .leftside img{
    width: 100%;
    height: 100%;
}
.navbox .rightside{
    display: flex;
    flex-direction:row ;
}
.navbox.rightside.Navlinks{
    font-size: 12px;
    color:black;
    margin: auto 10px;
}